.main {
  width: 100%;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #212130;
  padding: 12px 24px;


  color: white;
  z-index: 1000;

  box-sizing: border-box;
}

/* LAYOUT */
.layout {
  display: flex;
  width: 100%;
 
  overflow-x: hidden; /* safety net */
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;

  width: 250px;
  height: calc(100vh - 70px);

  background: #212130;
  padding: 20px 10px;

  z-index: 999;

  box-sizing: border-box;
}

/* CONTENT */
.content {
  margin-left: 241px;
  margin-top: 70px;

  width: calc(100% - 250px); 
  min-height: calc(100vh - 70px);

  background-color: #17171E;
  color: white;

  padding: 20px;

  box-sizing: border-box;
}